* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

header{
    display: flex;
    flex-flow: column nowrap;
    width: 80dvw;
    max-width: 600px;
    margin: 0 auto;
}

header > section{
    padding: 10px;
    h1{
        color: white;
    }
    p{
        color: #666666;
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 80dvw;
    max-width: 600px;
    margin: 0 auto;
}

main > section {
    background-color: #23242c;
    padding: 20px;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

.header-schedules {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main-schedules {
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.284);

    color: #666666;
    p{
        strong{
            color: white;
            font-size: .8rem;
        }
    }
}

.button-new-schedules{
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #23242c;
    color: white;
    width: 75dvw;
    max-width: 580px;
}

.button-new-schedules:hover {
    background-color: #23242cbd;
    cursor: pointer;
}

#button-schedule-div{
    display: flex;
    justify-content: center;
}

.button-schedule{
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid #666666;
    background-color: #23242c;
    color: white;
}

.button-schedule:hover{
    background-color: #00000025;
    cursor: pointer;
}

.close-button{
    cursor: pointer;
    font-weight: bold;
    position: fixed;
    left: 91%;
    top: 1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.fundoDeVidro{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);   
}

#modal-container{
    width: 90dvw;
    height: 100dvh;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
    background-color: #000;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    h2, label{
        color: white;
    }
    p{
       color: #666666; 
    }
    h2,p{
        padding: 10px;
        text-align: center;
    }
}

.transparent-input{
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 6px;
}

.input-label {
    display: flex;
    flex-flow: column nowrap;
    
    padding: 10px;
    gap: 2px;
}

.data-hora{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

form{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.header-form{
    margin-top: 15px;
}